body{
    background-color:white;
}
.blok2{
    height:1000px;
    width: auto;
    background-image: url("../pierogi.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y: -250px;
    padding: 20px;
}



.podzial3{
    height: 1000px;
    width:50%;

    float:left;
    background-color:rgb(205,184,145,0.7);
    font-family: roboto;

}
.podzial4{
    height: 670px;
    width:50%;
    float:right;
}
.about-us{
    font-size:25px;
    padding: 20px;
}
.polaroid{
    height:400px;
    width:40%;
    margin:20px;
    display: flex;
    justify-content: center;
    padding-left: 20%;

}

.foodtruck-photo1:hover,.foodtruck-photo2:hover {
    height: 400px;
    width: 600px;
}

.foodtruck-photo1{
    height: 300px;
    width: 450px;
    border-style: solid;
    border-color:black;
    transition: 1.5s;
    display: flex;
    justify-content:flex-start;
}

.foodtruck-photo2{
    height: 300px;
    width: 450px;
    border-style: solid;
    border-color:black;
    transition: 1.5s;
    display: flex;
    justify-content:space-evenly;

}



th{
    padding: 10px;
}
.chicken{
    float:left;
}
