@font-face {
    font-family: aguafina;
    src: url("../aguafina-script.regular.ttf");
}

.footer{
    width: 100%;
    height: 500px;
    background-color: #C2B280;
    font-family: aguafina;
}

.Map {
    float:left;
    width: 500px;
    height: 450px;
    background-color: #C2B280;
    padding: 10px;
}

.Contact {
    font-family: josefinsans;
    font-size: 40px;
    float: left;
    width: 800px;
    background-color: #C2B280;
    padding: 10px;
    padding-top: 10px;
    padding-left: 2%;
    text-align: left;
}

.Social {
    float: left;
    width: 800px;
    height: 100px;
    padding: 10px;
    padding-top: 10px;
    padding-left: 2%;
    background-color: #C2B280;
}

.fb {
    padding: 10px;
    width: 40px;
    height: 40px;
    float:left;
    margin: 10px;
    border: solid 1px black;
    border-radius: 10%;
    background-color: aliceblue;
} 

.ig {
    padding: 10px;
    text-align: center;
    width: 40px;
    height: 40px;
    float:left;
    margin: 10px;
    border: solid 1px black;
    border-radius: 10%;
    background-color: aliceblue;


}

.call:hover {
    animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
    transform: translate3d(0, 0, 0);
    backface-visibility: hidden;
    perspective: 1000px;
    animation-iteration-count: 1;
  }