@media screen and (max-width:500px) {
     
    .blok{
        height: 300px;
        margin:0;
        background-position: 200px;
        background-position-x: -50px;
        width: 100%;
        
    }
    .menu{
       
        height: 1300px;
        font-size: 20px;
    }
    li{
        display: block;

    }
    .dish-title{
        font-size:20px
    }
    .witaj-text{
        font-size: 50px;
        line-height: 150px;
       text-align: center;
       
    }
    #logo{
        margin-left:10px;
    }
   
    .podzial1{
        padding: 0;
        height: 500px;
        font-size: 15px;
        width: 100%;
    }
    .podzial2{
        width: 100%;
        font-size: 15px;
        padding:0;
       
    }

    .logowmenu{
        display: none;
    }
 
    #menu{
        font-size: 40px;
    }
    .podzial3{
        width: 100%;
       
    }
    .about-us{
        font-size:15px;
    }
    .blok2{
        width: initial;
        height:1000px;
        background-position-y:0px ;
    }
    .podzial4{
        margin:0;
        width: 330px;
        margin-top: 10px;
        margin-right:15px ;
        height: auto;
        display: none;
    }
    .obramowka{
        margin:2px;
    }
    .foodtruck-photo1{
        height: 200px;
    }
    .foodtruck-photo2{
        height: 200px;
    }
    .polaroid{
        display: none;
        
    }
    .polaroid1{
        padding-top: 10px;
        margin:0;
        width: 300px;
        height: 250px;
        margin-top: 10px;
    }
    .pc{
        display: none;
    }
    .footer{
       display: none;
       
    }
    iframe{
        width: initial;
    }
    .Social{
        width:100%;
    }
    .Contact{
        width: initial;
      
        font-size:24px;
    }
    .Map{
        width: initial;
    }
    .mobilemenu{
 
  
        display: flex;
        transform:translateX(-400px);
        transition: ease-in-out;
        transition-duration:330ms;
        justify-content: center;
        padding: 0;
    }
    .mobilemenu--active{
        transform: translateX(0px);
        
    }
    .footer-mobile{
        display: block;
        height:470px;
        background-color: #C2B280;
        padding: 20px;
        font-size: 20px;
        font-family: roboto;
    }
    .mapa{
        margin-left:20px;
    }

    .facebook > img{
      background-color: #f7e5b0;
      border-style: solid;
      border-radius: 10px;
      border-color: #f7e5b0;
      
    }
    .instagram > img{
        background-color: #f7e5b0;
        border-style: solid;
        border-radius: 10px;
        border-color: #f7e5b0;

        
    }
}   
@media screen and (min-width:500px){
    .menumobile{
        display:none;
    }
    .footer-mobile{
        display: none;
    }
}